.input {
  background: none;
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid;

  margin: 25px 0px;

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  &:focus {
    outline: none;
  }
}

.label {
  color: black;
  font-size: 16px;
  font-weight: normal;
  position: relative;
  pointer-events: none;
}
.group {
  position: relative;
  margin: 45px 0;
}
.sign-in {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

